---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

import {  getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const priceList = [
    {
        
        name: t("store.plan1"),
        price: "$2.5",
        popular: false,
        features: [
            // "Lifetime free",
            t("store.month1"),
            t("store.month2"),
            t("store.month3"),
            t("store.month4"),
            // "Community Support",
        ],
        button: {
            text: t("store.button1"),
            link: "https://noteai.lemonsqueezy.com/checkout?cart=bb3504d8-f901-4e5b-b0c1-9515163fe080",
        },
    },
    {
        name: t("store.plan2"),
        price: {
            monthly: "$26",
            // annual: "$16",
            // discount: "10%",
            // original: "$24",
        },
        popular: true,
        features: [
            t("store.year1"),
            t("store.year2"),
            t("store.year3"),
            t("store.year4"),
            // "Advanced Integrations",
            // "Priority Support",
        ],
        button: {
            text: t("store.button2"),
            link: "https://noteai.lemonsqueezy.com/checkout?cart=8b7951c9-bbab-4deb-92f9-d5c075e81820",
        },
    },
    {
        name: t("store.plan3"),
        price: "$39.99",
        popular: false,
        features: [
            t("store.life1"),
            t("store.life2"),
            t("store.life3"),
            t("store.life4"),
            // "Dedicated Account Manager",
            // "24/7 Phone Support",
        ],
        button: {
            text: t("store.button3"),
            link: "https://noteai.lemonsqueezy.com/checkout?cart=4e623009-2844-4e65-b836-7a8645261e8e",
        },
    },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">{t("store.headline")}</Fragment>
      <Fragment slot="desc"
        >{t("store.headline1")}</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {priceList.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
